<!--DOCTYPE html-->
<!--
	html skeleton taken from: https://codeforgeek.com/2015/01/render-html-file-expressjs/
-->
<html>

	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script src="scripts/bootstrap.min.js" ></script>
	</head>

	<body>
	<div>
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<a class="navbar-brand" href="/">Portfolio</a>
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/projects">Projects</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="jumbotron"	style="padding:40px; margin: 0 100 0 100;">
			<h1>Portfolio</h1>
			<p>This is a portfolio of Samuel Okrent's work in CS242: Programming Studio</p>
			<p><a class="btn btn-primary btn-lg" href="/projects" role="button">View Projects</a></p>
		</div>
	</div>
	</body>

</html>
